<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-6 offset-lg-3">
            <div class="bg-white rounded p-3 shadow">
                <h3>Ajoutez un film à votre liste <%= @list.name %></h3>
                <%= simple_form_for [@list, @bookmark] do |f| %>
                <%= f.input :comment,:label => "Commentaire" placeholder: 'Enter a comment about the movie' %>
                <%= f.association :movie, prompt: 'Selectionnez un film', input_html: { data: { controller: 'select2' } %>
                <%= f.submit class: 'btn btn-flat' %>
                <% end %>
            </div>
        </div>
    </div>
</div>